{% block tree_widget %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/academcityadmin/tree.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('bundles/academcityadmin/tree.js') }}" defer></script>
    {% endblock %}


    {% set item_id = tree_options['item_id']|default(null) %}
    {% set item_name = tree_options['item_name']|default(null) %}
    {% set data_sourse = tree_options['data_source'] %}
    {{ form_widget(form.tree) }}
    <div id="capability-tree"
         data-source="{{ data_sourse }}"
         data-field-name="{{ full_name }}"
            {% if item_id|default(null) is not null %} data-item-id="{{ item_id }}" {% endif %}
            {% if item_name|default(null) is not null %} data-item-name="{{ item_name }}"{% endif %}
         data-target="{{ form.tree.vars.id }}">
    </div>

{% endblock %}
